<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>0.0M</string>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>中</string>
		</dict>
		<dict>
			<key>title</key>
			<string>列表显示摘要</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>非Wifi网络设置</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>非Wifi网络播放提醒</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>推送通知</string>
			<key>subTitle</key>
			<string>你可能错过重要资讯通知,点击去设置允许通知</string>
			<key>rightTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>离线下载</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>subTitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>V0.2.2</string>
		</dict>
	</array>
</array>
</plist>
